@charset "utf-8";
/* CSS Document */
body {
  margin: 0;
  padding: 0;
  background: url('') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Noto Sans JP', sans-serif;
  color: #fff;
}

